@charset "utf-8";
/* CSS Document */

body {
	margin:auto;
	width: 100vw;
	align-content: center;
	background-color:lightgrey;
}

.row {
	display: block;
	width:100%;
}

.container {
	display:flex;
	width: 100vw;
	padding-right: 0px;
  padding-left: 0px;
  margin-right: inherit;
  margin-left: inherit;
}
.navbar {
	padding-bottom:20px;
	margin-bottom:20px;
}
#carsystem{
}
#SearchFunction {
	width: 30%;
	padding: 10px;
	display:flex;
	flex-wrap: wrap;
	background-color:lightslategray;
	height: 400px;
	margin-right:0px;
	flex-shrink: 3;
	flex-flow:space-between;
	align-items:stretch;
	align-content:flex-start;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#footer {
	background-color: dimgrey;
	width: 100%;
	padding:10px;
}

#cargrid {
	margin-left:10px;
    width: 100%;
    display: flex;
	flex-wrap: wrap;
    background-color:#414141;
	flex-shrink: 3;
	flex-flow:space-between;
	align-items:stretch;
	border-radius: 8px;
	padding:10px;
	padding-left:20px;
	margin-bottom: 20px;
	
}
.tryagain {
	visibility: collapse;
}
#carList{
	max-height:0px;
	visibility: collapse;
}
.car-card{
	 border: 1px solid #ccc;
	width:30%;
	height:auto;
	text-align: left;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
	line-height:1;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.btn{
	
}
.car-card h2{
	font-size: 18px;
}

.car-card img {
	width:200px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

.car-card p {
	line-height:.9;
	padding:0px;
	margin-top:7px;
	margin-bottom:10px;
	font-weight: 600; 
}
.clearfix {
  overflow: auto;
}


#searchInput {
	
	width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin:10px;
}

#searchbox{
		
	width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin:10px;
}

#priceFilter {
	
	width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin:10px;
}

#yearFilter{
	
	width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.575rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin:10px;
}

#mileageFilter{
	
	width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin:10px;
}
